#home-page-content {
  position: relative;
}

#home-page-content #subwebsite-section, #home-page-content #search-section {
  padding-top: 50px;
}

#home-page-content #websiteHeader {
  text-align: center;
}

#home-page-content #line-seperator {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#home-page-content .animation {
  opacity: 0;
}

#home-page-content #access-counter {
  margin-bottom: 40px;
}
