@import "compass/css3";

.loading{
  text-transform:uppercase;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight:bold;
  font-size:40pt;
  text-align:center;
  height:80px;
  line-height:80px;
}

@keyframes wave-animation{
  0%{background-position:0 bottom};
  100%{background-position:200px bottom};
}

@keyframes loading-animation{
  0%{background-size:200px 0px};
  100%{background-size:200px 200px};
}

.wave{
  background-image: image-url('uFpLbYt.png');
  @include background-clip(text);
  color:rgba(0,0,0,0);
  text-shadow:0px 0px rgba(255,255,255,0.06);
  animation:wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
  background-size:200px 100px;
  background-repeat:repeat-x;
  opacity:1;
}
